* {
    margin: 0;
    padding: 0;
}

footer p {
    color: aliceblue;
}

footer a {
    text-decoration: none;
    color: aliceblue;
    transition: all .5s;
}

footer a:hover {
    padding-left: 5px;
    color: rgb(255, 255, 255);
    transition: all .5s;
}

footer {
    display:block;
    padding: 2vw;
    background-color: rgb(48, 42, 42, .8);
    color: aliceblue;
}

.logo a {
    font-size: 1.5rem;
    color: aliceblue;
}

.container-product {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-bottom: 20px;
}

.container-checkbox {
    display: flex;
}

.container-text .text-area {
    margin-top: 5px;
}

.container-text .text-area input {
    padding: 5px;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: rgb(48, 42, 42, .4);
    color: aliceblue;
}

.container-text .text-area input:last-child {
    background-color: rgb(48, 42, 42, .8);
    color: aliceblue;
    margin-left: 5px;
}

.container-checkbox input {
    width: 15px;
    height: 15px;
    margin-top: 10px;
    opacity: .8;
}

.container-checkbox p {
    padding-left: 10px;
    padding-top: 5px;
}

.container-product {
    border-bottom: 2px solid;
}

.container-product .product {
    display:flex;
}

.container-product .product .container {
    padding-right: 5vw;
}

.container-feature ul {
    display: flex;
}

.container-social {
    display: flex;
    justify-content: space-between;
}

.container-social {
    font-size: .8rem;
    margin-top: 10px;
}

.container-social ul {
    display: flex;
}

.container-social ul li {
    padding-left: 5px;
}

.container-social ul li a:hover {
    transform: scale(1.5);
    transition: all .5s;
    color: rgb(255, 246, 227);
}

@media only screen and (max-width: 570px) {
    .container-text .text-area input:first-child {
        width: 100px;
    }
    .container-text {
        width: 200px;
    }
    .container-social ul {
        display: flex;
    }

    .container-social ul li {
        padding-left: 5px;
    }

    footer {
        padding: 2vw;
    }
}
