* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Avenir Next';
}

li {
  list-style: none;
}

/* Ketik code Anda dibawah */
.nav {
  background-color: #666688;
  color: #fff;
  height: 90px;
}
.head {
  font-size: 36px;
  padding: 20px 40px;
}
.menu a {
  color: white;
  text-decoration: none;
}
li {
  padding: 33px 20px;
  display: block;
  float: left;
}
