* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Avenir Next', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: aliceblue;
}

li {
  list-style: none;
}

.header {
  background-color: #666688;
  color: #fff;
  height: 60px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}
.header-list {
  display: block;
  float: right;
  padding-right: 150px;
}
.header-list li {
  float: left;
  padding: 33px 20px;
  font-size: 20px;
}
.header-list a {
  text-decoration: none;
  color: #fff;
}
.main-contents {
  padding: 250px 100px;
  background-image: url(https://www.teahub.io/photos/full/26-268564_black-wallpaper-background-hitam-pekat-hd.png);
  background-size: cover;
  color: #ffffff;
  text-align: center;
}
.main-contents h1 {
  opacity: 1;
  font-size: 45px;
  letter-spacing: 15px;
  margin-bottom: 10px;
  font-family: 'Avenir Next';
}
.main-contents h2{
  opacity: 1;
  font-size: 35px;
  letter-spacing: 15px;
  margin-bottom: 10px;
  font-family: 'Avenir Next';
}

.main-contents p {
  opacity: 0.7;
  margin-bottom: 3px;
  font-size: 20px;
}
.contents {
  height: 500px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}
.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}
.heading h2 {
  font-weight: normal;
}

.content {
  float: left;
  width: 25%;
}

.content-icon {
  position: relative;
}
.foto {
  width: 200px;
  height: 250px;
  border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: aliceblue;
}

footer {
    display:block;
    padding: 1vw;
    background-color: rgb(48, 42, 42, .8);
}

.logo a {
    font-size: 1.5rem;
    color: aliceblue;
}

.container-product {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-bottom: 20px;
}

.container-checkbox {
    display: flex;
}

.container-text {
}

.container-text .text-area {
    margin-top: 5px;
}

.container-text .text-area input {
    padding: 5px;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: rgb(48, 42, 42, .4);
    color: aliceblue;
}

.container-text .text-area input:last-child {
    background-color: rgb(48, 42, 42, .8);
    color: aliceblue;
    margin-left: 5px;
}

.container-checkbox input {
    width: 15px;
    height: 15px;
    margin-top: 10px;
    opacity: .8;
}

.container-checkbox p {
    padding-left: 10px;
    padding-top: 5px;
}

.container-product {
    border-bottom: 2px solid;
}

.container-product .product {
    display:flex;
}

.container-product .product .container {
    padding-right: 5vw;
}

.container-text {

}

.container-feature ul {
    display: flex;
}

.container-social {
    display: flex;
    justify-content: space-between;
}

.container-social {
    font-size: .8rem;
    margin-top: 10px;
}

.container-social ul {
    display: flex;
    justify-content: space-between;
    width: 10%;
}
